* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#Product2_container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  padding: 100px 30px;
  gap: 30px;
}
#Product2_container .Title_box {
  margin: auto;
}
#Product2_container .Title_box h1 {
  color: #000;
  font-family: roboto, sans-serif;
  font-size: 26px;
  line-height: 34px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0;
  text-transform: none;
}
#Product2_container .Column_container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
#Product2_container .Column_container .Column1_box,
#Product2_container .Column_container .Column3_box {
  width: 500px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
#Product2_container .Column_container .Column1_box .Product_box,
#Product2_container .Column_container .Column3_box .Product_box {
  width: 215px;
  height: 323px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  padding: 30px 0 0 0;
  overflow: hidden;
  position: relative;
}
@media (min-width: 320px) and (max-width: 768px) {
  #Product2_container .Column_container .Column1_box .Product_box,
  #Product2_container .Column_container .Column3_box .Product_box {
    width: 100%;
  }
}
#Product2_container .Column_container .Column1_box .Product_box .Akcia_box,
#Product2_container .Column_container .Column3_box .Product_box .Akcia_box {
  position: absolute;
  left: 30px;
  top: 20px;
  z-index: 1;
}
#Product2_container .Column_container .Column1_box .Product_box .Akcia_box span,
#Product2_container .Column_container .Column3_box .Product_box .Akcia_box span {
  background-color: #2453d4;
  font-weight: 500;
  text-transform: uppercase;
  padding: 5px 8px 4px;
  margin: 0;
  font-size: 11px;
  line-height: 1;
  color: #fff;
  letter-spacing: 0.05em;
  color: #fff;
  line-height: 1;
  border-radius: 3px;
  font-family: Roboto;
}
#Product2_container .Column_container .Column1_box .Product_box #Liked,
#Product2_container .Column_container .Column3_box .Product_box #Liked {
  position: absolute;
  z-index: 1;
  border: none;
  background: none;
  right: 30px;
  top: 20px;
}
#Product2_container .Column_container .Column1_box .Product_box #Liked i,
#Product2_container .Column_container .Column3_box .Product_box #Liked i {
  font-size: 20px;
  cursor: pointer;
}
#Product2_container .Column_container .Column1_box .Product_box:hover .Translating_box ~ .Cart_box,
#Product2_container .Column_container .Column3_box .Product_box:hover .Translating_box ~ .Cart_box {
  transform: translateY(25px);
}
@media (min-width: 320px) and (max-width: 768px) {
  #Product2_container .Column_container .Column1_box .Product_box:hover .Translating_box ~ .Cart_box,
  #Product2_container .Column_container .Column3_box .Product_box:hover .Translating_box ~ .Cart_box {
    transform: translateY(10px);
  }
}
#Product2_container .Column_container .Column1_box .Product_box:hover .Translating_box,
#Product2_container .Column_container .Column3_box .Product_box:hover .Translating_box {
  transform: translateY(-10px);
}
#Product2_container .Column_container .Column1_box .Product_box form,
#Product2_container .Column_container .Column3_box .Product_box form {
  width: 100%;
}
#Product2_container .Column_container .Column1_box .Product_box form .Translating_box,
#Product2_container .Column_container .Column3_box .Product_box form .Translating_box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateY(60px);
  transition: 0.4s;
}
@media (min-width: 320px) and (max-width: 768px) {
  #Product2_container .Column_container .Column1_box .Product_box form .Translating_box,
  #Product2_container .Column_container .Column3_box .Product_box form .Translating_box {
    transform: translateY(30px);
    gap: 50px;
  }
}
#Product2_container .Column_container .Column1_box .Product_box form .Translating_box .Img_box,
#Product2_container .Column_container .Column3_box .Product_box form .Translating_box .Img_box {
  width: 100%;
  height: 116px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
}
@media (min-width: 320px) and (max-width: 1024px) {
  #Product2_container .Column_container .Column1_box .Product_box form .Translating_box .Img_box,
  #Product2_container .Column_container .Column3_box .Product_box form .Translating_box .Img_box {
    padding: 0 0;
  }
}
@media (min-width: 320px) and (max-width: 1024px) {
  #Product2_container .Column_container .Column1_box .Product_box form .Translating_box .Img_box a,
  #Product2_container .Column_container .Column3_box .Product_box form .Translating_box .Img_box a {
    height: 169px;
    width: 54%;
  }
}
#Product2_container .Column_container .Column1_box .Product_box form .Translating_box .Img_box a img,
#Product2_container .Column_container .Column3_box .Product_box form .Translating_box .Img_box a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#Product2_container .Column_container .Column1_box .Product_box form .Translating_box .Info_box,
#Product2_container .Column_container .Column3_box .Product_box form .Translating_box .Info_box {
  width: 100%;
  height: auto;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 0 30px;
}
#Product2_container .Column_container .Column1_box .Product_box form .Translating_box .Info_box p,
#Product2_container .Column_container .Column3_box .Product_box form .Translating_box .Info_box p {
  color: #000;
  font-family: roboto, sans-serif;
  font-size: 15px;
  line-height: 17px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0;
  text-transform: none;
}
#Product2_container .Column_container .Column1_box .Product_box form .Translating_box .Info_box .Price_box,
#Product2_container .Column_container .Column3_box .Product_box form .Translating_box .Info_box .Price_box {
  position: relative;
}
#Product2_container .Column_container .Column1_box .Product_box form .Translating_box .Info_box .Price_box .Price_before,
#Product2_container .Column_container .Column3_box .Product_box form .Translating_box .Info_box .Price_box .Price_before {
  position: absolute;
  right: -40px;
  top: -10px;
}
#Product2_container .Column_container .Column1_box .Product_box form .Translating_box .Info_box .Price_box .Price_before span,
#Product2_container .Column_container .Column3_box .Product_box form .Translating_box .Info_box .Price_box .Price_before span {
  text-decoration: line-through;
  font-size: 13px;
  color: #8f96ac;
}
#Product2_container .Column_container .Column1_box .Product_box form .Translating_box .Info_box .Price_box span,
#Product2_container .Column_container .Column3_box .Product_box form .Translating_box .Info_box .Price_box span {
  color: black;
  font-family: roboto, sans-serif;
  font-size: 22px;
  line-height: 17px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  text-transform: none;
}
#Product2_container .Column_container .Column1_box .Product_box form .Cart_box,
#Product2_container .Column_container .Column3_box .Product_box form .Cart_box {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #2453d4;
  transform: translateY(78px);
  transition: 0.4s;
  padding: 20px 20px;
}
#Product2_container .Column_container .Column1_box .Product_box form .Cart_box:hover,
#Product2_container .Column_container .Column3_box .Product_box form .Cart_box:hover {
  transform: translateY(-5px);
}
#Product2_container .Column_container .Column1_box .Product_box form .Cart_box button,
#Product2_container .Column_container .Column3_box .Product_box form .Cart_box button {
  background: none;
  border: none;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 0;
  color: #fff;
  cursor: pointer;
  transition: opacity 0.25s ease-out;
}
#Product2_container .Column_container .Column2_box {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
#Product2_container .Column_container .Column2_box .Product_box {
  width: 450px;
  height: 541px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  padding: 30px 0 0 0;
  overflow: hidden;
  position: relative;
}
@media (min-width: 320px) and (max-width: 1024px) {
  #Product2_container .Column_container .Column2_box .Product_box {
    width: 100%;
  }
}
#Product2_container .Column_container .Column2_box .Product_box .Akcia_box {
  position: absolute;
  left: 30px;
  top: 20px;
  z-index: 1;
}
#Product2_container .Column_container .Column2_box .Product_box .Akcia_box span {
  background-color: #2453d4;
  font-weight: 500;
  text-transform: uppercase;
  padding: 5px 8px 4px;
  margin: 0;
  font-size: 11px;
  line-height: 1;
  color: #fff;
  letter-spacing: 0.05em;
  color: #fff;
  line-height: 1;
  border-radius: 3px;
  font-family: Roboto;
}
#Product2_container .Column_container .Column2_box .Product_box #Liked {
  position: absolute;
  z-index: 1;
  border: none;
  background: none;
  right: 30px;
  top: 20px;
}
#Product2_container .Column_container .Column2_box .Product_box #Liked i {
  font-size: 20px;
  cursor: pointer;
}
#Product2_container .Column_container .Column2_box .Product_box:hover .Translating_box ~ .Cart_box {
  transform: translateY(45px);
}
#Product2_container .Column_container .Column2_box .Product_box:hover .Translating_box {
  transform: translateY(10px);
}
#Product2_container .Column_container .Column2_box .Product_box form {
  width: 100%;
  height: auto;
}
#Product2_container .Column_container .Column2_box .Product_box form .Translating_box {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 0.4s;
  transform: translateY(70px);
}
#Product2_container .Column_container .Column2_box .Product_box form .Translating_box .Img_box {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
}
#Product2_container .Column_container .Column2_box .Product_box form .Translating_box .Img_box a {
  width: 100%;
  height: 306px;
  display: block;
}
#Product2_container .Column_container .Column2_box .Product_box form .Translating_box .Img_box a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#Product2_container .Column_container .Column2_box .Product_box form .Translating_box .Info_box {
  width: 100%;
  height: auto;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 0 30px;
}
#Product2_container .Column_container .Column2_box .Product_box form .Translating_box .Info_box p {
  color: #000;
  font-family: roboto, sans-serif;
  font-size: 15px;
  line-height: 17px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0;
  text-transform: none;
}
#Product2_container .Column_container .Column2_box .Product_box form .Translating_box .Info_box .Price_box {
  position: relative;
}
#Product2_container .Column_container .Column2_box .Product_box form .Translating_box .Info_box .Price_box .Price_before {
  position: absolute;
  right: -40px;
  top: -10px;
}
#Product2_container .Column_container .Column2_box .Product_box form .Translating_box .Info_box .Price_box .Price_before span {
  text-decoration: line-through;
  font-size: 13px;
  color: #8f96ac;
}
#Product2_container .Column_container .Column2_box .Product_box form .Translating_box .Info_box .Price_box span {
  color: black;
  font-family: roboto, sans-serif;
  font-size: 22px;
  line-height: 17px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  text-transform: none;
}
#Product2_container .Column_container .Column2_box .Product_box .Cart_box {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #2453d4;
  transform: translateY(102px);
  transition: 0.4s;
  padding: 20px 20px;
}
#Product2_container .Column_container .Column2_box .Product_box .Cart_box:hover {
  transform: translateY(-5px);
}
#Product2_container .Column_container .Column2_box .Product_box .Cart_box button {
  background: none;
  border: none;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 0;
  color: #fff;
  cursor: pointer;
  transition: opacity 0.25s ease-out;
}/*# sourceMappingURL=product2_box.css.map */