* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

footer {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px 200px;
    background-color: #1a1a1a;
    gap: 50px;

    @media (min-width:768px) and (max-width:1200px) {
        padding: 50px 100px;
    }

    @media (min-width:320px) and (max-width:768px) {
        padding: 50px 30px;
    }

    .Footer_contact_box {
        width: 100%;
        height: auto;
        display: flex;
        align-items: start;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;

        h1 {
            color: white;
            font-family: roboto, sans-serif;
            font-size: 26px;
            line-height: 34px;
            font-style: normal;
            font-weight: 500;
            letter-spacing: 0px;
            text-transform: none;
        }

        .Footer_mail_box {
            width: min(520px, 100%);
            height: auto;
            display: flex;
            align-items: start;
            justify-content: center;
            flex-direction: column;
            gap: 10px;

            .Error_message {
                color: #dc3232;
                font-size: 1em;
                font-weight: 400;
                display: block;
            }

            .Error_box {
                display: none;
                gap: 20px;
                padding: 20px;
                opacity: 0;
                transform: translateY(20px);
                animation: Error_box .4s ease-in-out forwards;

                @keyframes Error_box {
                    from {
                        opacity: 0;
                        display: none;
                        transform: translateY(20px);
                    }

                    to {
                        opacity: 1;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transform: translateY(0px);
                    }
                }

                p {
                    color: #fff;
                    font-weight: 500;
                    font-size: 15px;
                    text-transform: uppercase;
                    letter-spacing: 1px;

                }
            }

            .Input_box {
                width: 100%;
                height: auto;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;

                input {
                    width: 100%;
                    padding: 20px 15px;
                    border-radius: 8px;
                    border: 1px solid rgb(51, 51, 51);
                    background: transparent;
                    outline: none;
                    color: white;
                    font-size: 14px;
                    transition: .4s;

                    &::placeholder {
                        color: #71788b;
                    }

                    &:focus {
                        border-color: rgb(36, 83, 212);
                    }

                }

                button {
                    border: none;
                    background: none;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 60px;
                    height: 45px;
                    right: 60px;
                    cursor: pointer;

                    &:hover::before {
                        height: 45px;
                    }

                    &::before {
                        content: '';
                        background-color: rgb(36, 83, 212);
                        position: absolute;
                        border-radius: 8px;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        transition: .4s;
                        height: 0;

                    }

                    .fa-envelope {
                        width: auto;
                        height: auto;
                        position: absolute;
                        color: white;
                        font-size: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 15px;
                        border-radius: 8px;

                    }


                }
            }
        }

        .Social_box {
            width: auto;
            height: auto;
            display: flex;
            align-items: start;
            justify-content: center;
            flex-direction: column;
            gap: 10px;

            ul {
                list-style: none;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 14px;

                i {
                    font-size: 16px;
                    color: #ACACAC;
                    cursor: pointer;
                    transition: .4s;

                    &:hover {
                        color: white;
                    }
                }
            }
        }

    }

    .Footer_menu_box {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 100px 0;
        border-top: 1px solid rgb(51, 51, 51);
        border-bottom: 1px solid rgb(51, 51, 51);
        gap: 40px;

        &>div {
            width: 300px;
        }

        ul {
            list-style: none;
            width: 100%;
            height: auto;
            display: flex;
            align-items: start;
            justify-content: center;
            flex-direction: column;
            gap: 5px;

            li {
                h1 {
                    color: white;
                    font-family: roboto, sans-serif;
                    font-size: 20px;
                    line-height: 25px;
                    font-style: normal;
                    font-weight: 500;
                    letter-spacing: 0;
                    text-transform: none;
               
                }

                span {
                    color: #acacac;
                    font-family: roboto, sans-serif;
                    font-size: 15px;
                    letter-spacing: 0;
                    line-height: 28px;
                    font-weight: 400;
                    text-transform: none;
                    font-style: normal;
                }
            }





        }
    }

    .Bank_card_box {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;

        p {
            color: #acacac;
            font-family: roboto, sans-serif;
            font-size: 11px;
            line-height: 15px;
            font-style: normal;
            font-weight: 400;
            letter-spacing: 1.2px;
            text-transform: uppercase;
        }

        img {
            width: 273px;
            height: 50px;
            object-fit: contain;
        }
    }
}