* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#Product1_container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding: 40px 160px;
    gap: 20px;

    @media (min-width:320px) and (max-width:1200px) {
        padding: 40px 10px;
    }

    .Title_box {
        @media (min-width:320px) and (max-width:1200px) {
            margin: auto;
        }

        h1 {
            color: #000;
            font-family: roboto, sans-serif;
            font-size: 26px;
            line-height: 34px;
            font-style: normal;
            font-weight: 500;
            letter-spacing: 0;
            text-transform: none;

        }
    }

    #Product1_box {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;

        @media (min-width:320px) and (max-width:1200px) {
            justify-content: center;
        }

        .Product {
            width: 335px;
            height: 443px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            border: 1px solid #eaeaea;
            border-radius: 10px;
            padding: 30px 0 0 0;
            overflow: hidden;
            position: relative;

            .Akcia_box {
                position: absolute;
                left: 30px;
                top: 20px;
                z-index: 1;

                span {

                    background-color: #2453d4;
                    font-weight: 500;
                    text-transform: uppercase;
                    padding: 5px 8px 4px;
                    margin: 0;
                    font-size: 11px;
                    line-height: 1;
                    color: #fff;
                    letter-spacing: .05em;
                    color: #fff;
                    line-height: 1;
                    border-radius: 3px;
                    font-family: Roboto;

                }
            }

            #Liked {
                position: absolute;
                z-index: 1;
                border: none;
                background: none;
                right: 30px;
                top: 20px;

                i {
                    font-size: 20px;
                    cursor: pointer;
                }
            }

            &:hover .Translating_box~.Cart_box {
                transform: translateY(-5px);
            }

            &:hover .Translating_box {
                transform: translateY(-25px);
            }

            .Translating_box {
                transform: translateY(20px);
                transition: .4s;





                .Img_box {
                    width: 100%;
                    height: 295px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0 30px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .Info_box {
                    width: 100%;
                    height: auto;
                    display: flex;
                    align-items: start;
                    flex-direction: column;
                    justify-content: center;
                    gap: 20px;
                    padding: 0 30px;

                    p {
                        color: #000;
                        font-family: roboto, sans-serif;
                        font-size: 15px;
                        line-height: 17px;
                        font-style: normal;
                        font-weight: 700;
                        letter-spacing: 0;
                        text-transform: none;
                    }

                    .Price_box {
                        position: relative;

                        .Price_before {
                            position: absolute;
                            right: -40px;
                            top: -10px;

                            span {
                                text-decoration: line-through;
                                font-size: 13px;
                                color: #8f96ac;
                            }
                        }

                        span {
                            color: black;
                            font-family: roboto, sans-serif;
                            font-size: 22px;
                            line-height: 17px;
                            font-style: normal;
                            font-weight: 400;
                            letter-spacing: 0;
                            text-transform: none;
                        }
                    }
                }
            }

            .Cart_box {
                width: 100%;
                height: auto;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                background-color: #2453d4;
                transform: translateY(50px);
                transition: .4s;
                padding: 20px 20px;

                &:hover {
                    transform: translateY(-5px);
                }

                button {
                    background: none;
                    border: none;
                    font-family: Roboto, sans-serif;
                    font-size: 12px;
                    line-height: 16px;
                    font-weight: 700;
                    letter-spacing: 0;
                    color: #fff;
                    cursor: pointer;

                    transition: opacity .25s ease-out;
                }
            }
        }
    }
}