* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#Product_container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
    padding: 100px 200px;
    gap: 30px;

    @media (min-width:320px) and (max-width:1024px) {
        padding: 100px 30px;
    }

    .Img_box {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;

        @media (min-width:320px) and (max-width:1024px) {
            width: 100%;
        }

        .Img {
            width: 100%;
            height: 250px;
            border: 1px solid rgba(51, 51, 51, 0.21);
            border-radius: 20px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                cursor: pointer;

                @media (min-width:320px) and (max-width:552px) {
                    object-fit: cover;
                }

            }
        }

        .Mini_img {
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
            flex-wrap: wrap;

            img {
                width: 121px;
                height: 121px;
                object-fit: cover;
                border-radius: 20px;
                border: 1px solid rgba(51, 51, 51, 0.21);
                cursor: pointer;
            }
        }
    }

    .Info_box {
        width: 600px;
        gap: 10px;
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        gap: 20px;

        form {
            display: flex;
            align-items: start;
            justify-content: center;
            flex-direction: column;
            gap: 20px;
            .Price {
                display: flex;

                .Price_before {
                    transform: translate(10px,-10px);
                    span {
                        text-decoration: line-through;
                        font-size: 13px;
                        color: #8f96ac;
                       
                    }
                }
            }
        }

        h1 {
            font-family: Roboto, sans-serif;
            font-size: 46px;
            line-height: 52px;
            letter-spacing: 0;
            font-weight: 500;
            font-style: normal;
            text-transform: none;
            color: #000;

            width: 100%;
        }

        span {
            color: #000;
            font-size: 26px;
            line-height: 34px;
            text-transform: none;
            font-family: Roboto, sans-serif;
            font-style: normal;
            font-weight: 500;
            letter-spacing: 0;
        }

        p {
            color: #676770;
            font-family: roboto, sans-serif;
            font-size: 15px;
            line-height: 22px;
            font-style: normal;
            font-weight: 400;
            width: 100%;
        }

        .Add_to_card {
            width: 200px;
            height: 56px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 30px;

            #Counter {
                display: block;
                height: 56px;
                width: 56px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 10px;
                font-size: 13px;
                font-family: inherit;
                font-weight: 700;
                text-align: center;
                color: #000;
                background-color: #fff;
                border: 1px solid #eaeaea;
                transition: .4s;
                outline-color: transparent;

                &:focus {
                    outline-width: 1px;
                    outline-color: #2453d4;
                }
            }

            #Add_to_cart {
                border: none;


                display: block;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #fff;
                font-family: roboto, sans-serif;
                font-size: 12px;
                white-space: nowrap;
                height: 56px;
                font-style: normal;
                font-weight: 700;
                background-color: #2453d4;
                border-radius: 8px;
                -moz-border-radius: 8px;
                -webkit-border-radius: 8px;
                letter-spacing: 0;
                text-transform: uppercase;
                border-width: 0;
                padding-left: 33px;
                padding-right: 33px;
                cursor: pointer;
                text-decoration: none;





            }

            #Plus_minus {
                width: auto;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: column;


                i {
                    font-size: 10px;
                    cursor: pointer;
                }
            }
        }
        #Add_to_liked {
            background: none;
            border: none;
            i {
                font-size: 20px;
                transition: .4s;
                cursor: pointer;

                &:hover {
                    color:#007aff;
                }
            }
        }
    }
}