* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
}

#Scroll {
    position: fixed;
    right: 30px;
    bottom: 30px;
    background-color: #2453d4;
    border-radius: 10px;
    transition: .4s;

    a {
        color: white;
        display: block;
        padding: 13px 16px;
    }

    &:hover {
        cursor: pointer;
    }
}
